*.py text eol=lf working-tree-encoding=UTF-8
*.pyw text eol=lf working-tree-encoding=UTF-8
*.md text eol=lf working-tree-encoding=UTF-8
*.bat text eol=crlf working-tree-encoding=UTF-8
*.png binary
*.pdf binary
